<div class="c-fnav-view">
	<ul class="navis-wrap clearfix">
		<li v-bind:class="{ active: isHome  }">
			<a href="/Hb/HbListGet.aspx?categoryId=0">
				<div>
					<!--<i class="icon-home3"></i>-->
					<div class="i-home"></div>
				</div>	
				<div>首页</div>
			</a>
		</li>
		<li v-bind:class="{ active: isList }">
			<a href="/Hb/HbListGet.aspx?categoryId=0&pos=list">
				<div>
					<!--<i class="icon-file-text"></i>-->	
					<div class="i-list"></div>
				</div>	
				<div>接单</div>
			</a>
		</li>		
		<li v-bind:class="{ active: isPencil }">
			<!--<a href="/Hb/HbCreate.aspx?pos=pencil">-->
			<a href="/Hb/HbListGet.aspx?categoryId=0&pos=pencil">
				<div>
					<!--<i class="icon-plus"></i>-->	
					<div class="i-pencil"></div>
				</div>	
				<div>发单</div>
			</a>
		</li>
		<li v-bind:class="{ active: isWeidian }">
			<!--<a href="/Hb/TmList.aspx?pos=weidian">-->
			<a href="/Hb/HbListGet.aspx?categoryId=0&pos=weidian">
				<div>
					<!--<i class="icon-library"></i>-->
					<div class="i-weidian"></div>
				</div>	
				<div>微店</div>
			</a>
		</li>
		<li v-bind:class="{ active: isUser }">
			<!--<a href="/Hb/yhzx.aspx?pos=user">-->
			<a href="/Hb/HbListGet.aspx?categoryId=0&pos=user">
				<div>
					<!--<i class="icon-user"></i>-->	
					<div class="i-user"></div>
				</div>	
				<div>我的</div>
			</a>
		</li>
	</ul>			
</div>
