<div class="c-cnav-view">
	<ul class="cnav-wrap">
		<li class="clearfix">
			<div>
				<div class="circle">
					<div class="i-hqfw"></div>		
				</div>
				<div class="text">婚庆服务</div>
			</div>	
			<div>
				<div class="circle">
					<div class="i-jypx"></div>	
				</div>
				<div class="text">教育培训</div>
			</div>
			<div>
				<div class="circle">
					<div class="i-lyjd"></div>	
				</div>
				<div class="text">旅游酒店</div>
			</div>	
			<div>
				<div class="circle">
					<div class="i-cyms"></div>	
				</div>
				<div class="text">餐饮美食</div>
			</div>	
			<div>
				<div class="circle">
					<div class="i-zsjm"></div>	
				</div>
				<div class="text">招商加盟</div>
			</div>		
		</li>	
		<li class="clearfix">
			<div>
				<div class="circle">
					<div class="i-ggtg"></div>	
				</div>
				<div class="text">广告推广</div>
			</div>	
			<div>
				<div class="circle">
					<div class="i-qcfw"></div>	
				</div>
				<div class="text">汽车服务</div>
			</div>
			<div>
				<div class="circle">
					<div class="i-xxyl"></div>	
				</div>
				<div class="text">休闲娱乐</div>
			</div>	
			<div>
				<div class="circle">
					<div class="i-swfw"></div>	
				</div>
				<div class="text">商务服务</div>
			</div>	
			<div>
				<div class="circle">
					<div class="i-qtfw"></div>	
				</div>
				<div class="text">其他服务</div>
			</div>		
		</li>	
	</ul>		
</div>
